body{
    padding: 0px;
    margin: 0px;
    background-color: navajowhite;
}

.box{
    width: 400px;
    height: 400px;
    margin: 5px;
}

.c-blueviolet{
    background-color: blueviolet;
}

.c-red{
    background-color: brown;
}

.c-blue{
    background-color: cornflowerblue;
}